body, html, main, div {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    text-decoration: inherit;
    background: inherit;
    font-family: sans-serif;
    list-style: inherit;
}

.group:after {
    content: "";
    display: block;
    clear: both;
}

#info p {
    background: grey;
    width: 100%;
}
