doctype(html)
html
head
    title SkeletorJS Example Chat App
    link(rel="stylesheet", type="text/css", href="public/css/app_example.css")
    script(src="/socket.io/socket.io.js")
    script(src="public/vendor/jquery-2.1.4.js")
    script(src="public/js/clientEmitter_example.js")
body!= body
