doctype(html)
html
head
    title SkeletorJS
    link(rel="stylesheet", type="text/css", href="public/css/app.css")
    script(src="/socket.io/socket.io.js")
    script(src="public/vendor/jquery-2.1.4.js")
    script(src="public/js/clientEmitter.js")
body!= body
