main#chatContainer.group
    #messageContainer
        #messageList
    #userListContainer.group
        #userListTitle List of users
        ul.userlist
    form#messageInput
        input(type="text")
